@font-face {
    font-family: "SF Pro Display";
    src: url('SFPRO DISPLAY REGULAR.TTF');
 }

 * {
    box-sizing: border-box;
 }

 body {
    font-family: sans-serif;
    font-size: 16px;
 }
 
 h1 {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
 }

 header{
	 display: inline;
	 position: sticky;
 }

 .navbar {
	overflow: hidden;
	position: sticky;
	background-color: #333;
	font-family: "SF Pro Display", sans-serif;
  }
  
  .navbar a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  .dropdown {
	float: left;
	overflow: hidden;
  }
  
  .dropdown .dropbtn {
	cursor: pointer;
	font-size: 16px;  
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
	background-color: transparent;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  
  .dropdown-content a:hover {
	background-color: #ddd;
  }
  
  .show {
	display: block;
  }

 .left-content {
    width: 75%;
    background-color: #FFFFFF;
    float: left;
}

.featured-image {
    width: 50%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
 }

.right-content {
	width: 24%;
	height: 100%;
    padding-left: 10px;
    background-color: #e1f4f3;
    float: right;
}

.gallery{
	display: flex;
	flex-direction: row;
}

.profile header {
    text-align: center;
 }

 .brand{
	width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
 }

 .brand-ig, .brand-line, .brand-wa{
    width: 40%;
	object-fit: cover;
    object-position: center;
 }

 .container {
	display: flex;
	flex-direction: row;
	background-color: transparent;
}

.container-1 {
	display: flex;
	flex-direction: column;
	background-color: transparent;
}

.box {
	flex-grow: 1;
	flex-basis: 33.33%;
	align-content: center;
	align-self: center;
}

.photo-content{
	width: 100%;
	object-fit: fill;
}

.brand-1{
	width: 10%;
}

 main {
    padding: 12px;
    overflow: auto;
 }

 /* warna text */
h2{
	font-family: "SF Pro Display", Arial, Helvetica, sans-serif;
    color: #142850;
}

h3{
	font-family: "SF Pro Display", Arial, Helvetica, sans-serif;
    color:#035aa6;
}

h4{
	font-family: "SF Pro Display", Arial, Helvetica, sans-serif;
    color:#3797a4;
}

p{
	font-family: "SF Pro Display", Arial, Helvetica, sans-serif;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	height: 100%;
    border-radius: 5px;
    padding: 12px;
}

.contact{
	justify-content: center;
	height: 100%;
	display: flexbox;
	padding-top: 10px;
	padding-right: 10px;
}

/* aside */
.sosmed-content, .ig-content, .line-content, .wa-content{
	text-align: center;
	align-self: center;
	width: 25%;
	float: left;
}

footer {
    color: white;
    background-color: #706c61;
    text-align: center;
    font-weight: bold;
 }

 @media only screen and (min-width : 320px) {
	.left-content{
		width: 100%;
	}
	.right-content{
		width: fit-content;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 360px) {
	.left-content{
		width: 100%;
	}
	.right-content{
		width: fit-content;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.left-content{
		width: 75%;
	}
	.right-content{
		width: 25%;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.left-content{
		width: 75%;
	}
	.right-content{
		width: 25%;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.left-content{
		width: 75%
	}
	.right-content{
		width: 25%;
	}
}